
	

/* ----- Font Sizes ----- */
	body, 
	input, 
	button,
	textarea {
		font-size: 19px;
	}
	header nav {
		font-size: 19px;
	}
	h2,  #respond-title {
		font-size: 30px;
	}
	h3 {
		font-size: 27px;
	}
	h4 {
		font-size: 23px;
	}
	h5 {
		font-size: 21px;
	}
	h6 {
		font-size: 19px;
	}


/* ----- Background Colours ----- */
	body {
		background: #161b20;
	}
	h1.searching span {
		color: #161b20;
	}
	.article {
		background-color: #fafafa;
	}
	.meta .cat a, .cat a {
		background: #ededed;
	}
	.cat a:hover {
		background: #18c5a3;
	}
	header {
		background: #2a333b;
	}
	header nav, header nav ul ul {
		background: #18c5a3;
	}
	.intro {
		background-color: #f36742;
	}
	footer.footer {
		background: #161b20;
	}
	footer .foot, .error404 {
		background: #0e1215;
	}
	.nav-previous a, .nav-next a {
		background-color: #f36742;
	}
	.nav-previous a:hover, .nav-next a:hover, .single .nav-previous a:hover, .single .nav-next a:hover {
		background-color: #f36742;	
	}
	.single .nav-previous a, .single .nav-next a {
		background-color: #f36742;
	}
	.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
		background-color: #f36742;
	}	
	.archive-navigation {
		background: #161b20;
	}
	.sidebar {
		background: #161b20;
	}
	.archive-content article.format-image .inner  {
		background: #18c5a3; 
	}
	.flex-caption {
		background: #18c5a3;
	}
	.the-comments {
		background: #fafafa;
	}

	
	a.button:hover,
	a.btn:hover,
	button:hover,
	.password-protect input[type=submit]:hover, .form-submit input:hover, .comment-reply a:hover, input.searchsubmit:hover, a.more-link:hover, input.wpcf7-submit:hover {
		background: #18c5a3;
	}

/* ----- Font Colours ----- */
body, 
input, 
button,
textarea {
	color: #3a4145;
}
a {
	color: #18c5a3;
}
.site-title a {
	color: #ffffff;
}
.sidebar a, input.s {
	color: #18c5a3;
}
.sidebar input.s::-webkit-input-placeholder {
	color: #18c5a3 !important;
}
.sidebar input.s:-moz-placeholder {
	color: #18c5a3 !important;
}

.sidebar input.s::-moz-placeholder {
	color: #18c5a3 !important;
}

.sidebar input.s:-ms-input-placeholder {  
	color: #18c5a3 !important;
}

.portfolio-item h2 a:hover {
	color: #18c5a3;
}
.archive-content article.format-image .inner h2 a {
	color: #252b2d;
}
.archive-content article.format-image .inner h2 a:hover, .archive-content article.format-image .inner .meta, .archive-content article.format-image .inner .meta a {
	color: #4e595b;
}
footer a:hover {
	color: #18c5a3;
}
header nav a {
	color: #2a333b;
}
header nav a:hover {
	color: #ffffff;
}

header.logo-left nav a {
	color: #2a333b;
}
header.logo-left nav a:hover,
header.logo-left nav li.current_page_item a:hover, 
header.logo-left nav li.current-menu-item a:hover, 
header.logo-left nav li.current_page_ancestor a:hover, 
header.logo-left nav li.current_page_parent a:hover, 
header.logo-left nav li.current-post-ancestor a:hover, 
header.logo-left li.current-page-ancestor a:hover {
	color: #ffffff;
}
footer .foot a:hover {
	color: #18c5a3;
}


/* ----- Text transforms ----- */
a.btn,
button,
a.button,
a.button:visited,
.password-protect input[type=submit],
.form-submit input, .comment-reply a,
input.searchsubmit, a.more-link,
input[type=submit], .btn, .meta, .cat a, 
h1, .archive-content h2,
.format-quote,
.portfolio-item h2,
header nav, 
.related h4, .clients h4,
footer .footer-widget h6 {
	text-transform: uppercase;
}


/* ----- Responsive adjustments ----- */
	@media screen and (max-width: 620px) {
		header nav {
			display: none;
		}
		header.logo-left .logo {
			width: 100%;
			text-align:center;
		}
		.fixed-header header {
			position: relative;
		}
		.fixed-header section#main {
			margin-top: 0 !important;
		}
	}


