a { color: #a81010;}
.colored {color: #a81010 !important;}
.top_line {background-color: #a81010 !important;}
.page_head .menu .current-menu-item {background: #a81010 !important ;}
.page_head .menu ul li:hover a { background:#a81010 }
.page_head .menu ul li:hover:first-child > a:after { border-bottom-color:#a81010 ;}
.page_head .menu ul ul li:hover:first-child > a:after { border-right-color: #a81010 ;}
.page_head .menu ul ul a:hover { background:#a81010 !important }
.blog_item .view a.info:hover {background-color:#a81010;}
.blog_item .view a.link:hover {background-color:#a81010;}
.pride_pg .current {background-color: #a81010;}
.pride_pg a:hover  {background-color: #a81010;}
.blog_sidebar a{ color:#a81010;}
.filter_button:hover {background-color:#a81010;border-color:#a81010 }
.filter_current { background-color:#a81010; border-color:#a81010;}
.portfolio_item .view a.info:hover {background-color:#a81010;}
.portfolio_item .view a.link:hover {background-color:#a81010;}
.descr a { color: #a81010;}
.portfolio_sidebar a{ color:#a81010;}
.blog_item .meta a:hover { color:#a81010;}
.blog_post_item_description .meta a:hover { color:#a81010;}
.portfolio_post_item_description .meta a:hover { color:#a81010;}
.page_sidebar a{ color:#a81010;}

.blog_head h3 a:hover {color:#a81010;}
.well a { color:#333;}
.well a:hover { color:#a81010;}
.twitter-block .well a { color:#fff;}


ul.social-links li a{background: #a81010 !important ;}
ul.social-links li a:hover{background-color: #CF5858 !important ;}
.current_page_parent a {color:#a81010 !important;} 
.page_head .menu ul li:hover a {background: none!important; }
.page_head .menu .current-menu-parent a:hover {color:#a81010 !important;} 
.page_head .menu .color a:hover  {color:#a81010 !important;}
.read a {color:#a81010 !important;}
.sb-light-skin .hovercover {background:#a81010 !important;}
.love-it-wrapper a:hover, .comments-likes a:hover {color:#a81010 !important;}
.twitter_fot {background:#a81010 !important; }
.twitter_fot .tweet_list li {color: #fff !important;}
.twitter_fot .paginat a i {color: #CF5858 !important ;}
.twitter_fot .paginat a i:hover {color: #F79E9E !important ;}
.tag_cloud a:hover {background: #a81010 !important; border-color: #a81010 !important;}
.widget_flickr img:hover {border: 2px solid #a81010 !important;}
.tp-caption.gw_big_green{background-color:#a81010!important; }
.tp-caption.gw_medium_green {background-color:#a81010!important;}
.subpage_block {color: #a81010!important;}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus,input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
.uneditable-input:focus {
border-color: #a81010 !important;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #a81010 !important;
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #a81010 !important;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #a81010 !important;  }

.selected {background-color: #a81010 !important; border-color: #a81010 !important;}
.filter:hover, .filter.selected {background-color: #a81010 !important; border-color: #a81010 !important;}

.sub-menu-short li  a:hover{text-decoration: underline;}
#dif   a{color: #a81010 !important ;font-size: 12px;}
#dif   a:hover{text-decoration: underline;}
.accordion-heading a:hover{color: #a81010 !important;}
.active_1 { background-color: #a81010 !important; }
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {background-color: #a81010 !important; }
.nav-tabs li a:hover {color: #a81010 !important;}
.nav-tabs a {color: #a81010 !important;}
.active a{ color:#555555 !important}
.meta h2 a:hover {color: #a81010 !important;}
.pride_pg .current {background-color: #a81010 !important}
.pride_pg a:hover  {background-color: #a81010 !important;}
.categories li a:hover {color: #a81010 !important;}
ul.social-links-sec-third li a:hover {color: #a81010 !important;}
.comment-reply-link {color: #a81010 !important; text-decoration: none }
.comment-reply-link:hover {text-decoration: underline;}
.colorend {color: #a81010 !important; text-decoration: none}
.colorend:hover {text-decoration: underline;}
#slides a:hover {color: #a81010 !important;}

.box {border-left: 3px solid #a81010 !important;}
.sb-light-skin .detailholder	{border-bottom: 1px solid #a81010 !important;}
.plus {color: #a81010 !important;}

.accordion-heading-multi a:hover { color: #a81010 !important;}
.plan.featured .price{color:#a81010!important;}
.plan.featured h3{color:#a81010!important;}
.tab-content p a  {color:#a81010!important;}

.accordion-heading i {color: #a81010 !important;}
.accordion-heading-multi i {color: #a81010 !important;}
.tool_a {color: #a81010 !important;}