.widget { 
	background-color: #42586A;
}

	.entry-cat-block:hover, .flickr-block:hover, .instagram-block:hover, .entry-twitter:hover, .popular-block:hover, 
	.recent-block:hover, .custom-cat-block:hover, .sticky-block:hover, .articles-block:hover { background-color: #42586A !important; }

.pagination a { 
	background: #42586a !important;
	opacity: .7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

.pagination .current { background: #42586a; }

.pagination a:hover { background-color: #5b7a93; }
/* Sidebar */
.entry-single-meta {
	background: ;
	border-top: px  ;
	border-bottom: px  ;
}

.sidebar { color: ; }

.widget-title {
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
			
			font-weight: bold;
			
}


/* Menu */
#mainmenu-block-bg {
	text-align: center;
}

.sf-menu a {
	text-transform: uppercase;
	font-size: 14px;
	color: #cad7e1 !important;
			
			font-weight: bold;
		}

.current-menu-item > a, .current-menu-ancestor > a, .current-post-ancestor > a { color: #FFF !important; }
	.sf-menu li, .sf-menu > li:last-child { border-left: 1px solid #536D82; }
	
.sf-menu > li > ul, .sf-menu ul li ul, .sf-menu ul li {
	background: #42586a;
	background: rgba(66,88,106, 0.95);
}
.sf-menu ul > li:hover { background: #5b7a93; }

#mainmenu-block-bg { background-color: #42586a; }

/* Body background Color */
body { background: #E0E5E9; }


/* Footer font*/
#footer { color: #CCCCCC; 12px; }

#footer {
	background-color: #42586a;
}


/* Headings Styling */
h1 {
	color: #333333;
	font-style: normal;	
		
	font-size: 38px; 
	line-height: 40px; 
}

h2 {
	color: #333333;
	font-style: normal;	
		
	font-size: 31px; 
	line-height: 40px; 
}

h3 {
	color: #333333;
	font-style: normal;	
		
	font-size: 24px; 
	line-height: 30px; 
}

h4 {
	color: #333333;
	font-style: normal;	
		
	font-size: 17px; 
	line-height: 20px; 
}

h5 {
	color: #333333;
	font-style: normal;	
		
	font-size: 14px; 
	line-height: 20px; 
}

h6 {
	color: #333333;
	font-style: normal;	
		
	font-size: 12px; 
	line-height: 20px; 
}


/* Links color */
a, a:hover, a:focus { color: #2690b7; }

.nav-block span.icon-chevron-left, .nav-block span.icon-chevron-right { border-color: #2690b7; }
.entry-meta a:hover { color: #2690b7; }

.sf-menu a:hover { color: #FFF !important; }
.sf-menu li li a { color: #FFFFFF !important; }

.entry-thumb:hover .video { border-color: #2690b7; }

.widget_nav_menu li.current-menu-item:before,
.widget_nav_menu li.current-menu-ancestor:before { color: #2690b7; }



/* Responsive Layout */
