body
        {
            background-color: #edf3f5;
            background-image: url('images/texture_3.png');
            background-repeat: repeat;
            background-position: top left;
            background-attachment: scroll;
            font-size:14px;
            font-family:@微软雅黑;
            color:#999999;
        }
        .a-nav
        {
            background-color: #22D6F9;            
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
            padding:5px 0;
            border-bottom:2px #18C9EC solid;
            color:#FFFFFF;
        }
        .b-nav
        {
            /*margin-top:50px;*/
            background-color:#FFFFFF;
            margin-top:54px;
        }
        .header-left
        {
            padding-top:10px;
        }
        .header-left a
        {
            color:#FFFFFF;
        }
        .header-left span
        {
            border-right:1px #FFFFFF solid;
            padding:0 5px;
        }
        .shop_icon
        {
            /*position: absolute;
            left: 0;
            top: 50%;
            margin-top: -13px;
            display: block;*/
            float:left;
            margin-top:30%;
            width: 23px;
            height: 23px;
            background-image: url(images/sprite.png);
            background-repeat: no-repeat;
            background-position: 0 -241px;
            background-color:#4cb1ca;
        }
        .shop_icon2
        {
            display: block;
            width: 23px;
            height: 23px;
            background-image: url(images/sprite.png);
            background-repeat: no-repeat;
            background-position: 0 -241px;
            background-color:#4cb1ca;
            float:left;
        }
        .shop_div
        {
            height:117px;            
        }
        .shop_price
        {
            float: left;
            margin-top:28%;
            color:#4cb1ca;
            cursor:pointer;
            font-size:1.5em;
            font-weight:bold;
            margin-left:10px;
            padding:5px;
        }
        .shop_div :hover
        {
            color:#FFFFFF;
            background-color:#4cb1ca;
        }
        #content
        {
            background-color:#689C0D;            
        }
        #content a
        {
            color:#ffffff;
            font-size:20px;
        }
        .bs-header .nav > li > a:hover
        {
            background-color:#88BC2D;
            border-bottom:2px Black solid;
        }
        .nav li .active
        {
            
        }
        .page-header h3
        {
            font-weight:bold;
        }
        .s_title_1 span
        {
            font-size:16px;
            border-bottom: 1px solid #DDDDDD;
            display: inline-block;
            background: url("images/button_buy_theme.png") no-repeat scroll right top #91C536 !important;
            color: #FFFFFF !important;
            padding:10px;
        }
        .thumbnail:hover
        {
            background: none repeat scroll 0 0 #FFFFFF;
            border-radius: 5px 5px 5px 5px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
            z-index: 10;
            /*padding:20px;*/
        }
        
        .bs-footer
        {
            border-top: 1px solid #E5E5E5;
            color: #777777;
            margin-top: 100px;
            padding-bottom: 30px;
            padding-top: 40px;
            background: url(images/intro_texture.png) center no-repeat;
            background-color:#E6F6FA;
        }
        .nav-tabs li
        {
            width:150px;
            text-align:center;
            font-size:14px;
            font-weight:bold;
        }
        .tab-content
        {
            background-color:#FFFFFF;
        }
        .bs-example
        {
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            margin: 15px 0;
            padding: 19px 19px 14px;
        }
        #moreImagesList li
        {
            border: 1px solid #DDDDDD;
            float: left;
            margin-right: 2px;
        }
        #moreImagesList li img
        {
            width:37px;
        }
        
        
        .carousel-indicators .active
        {
            width:88px;
            background: none repeat scroll 0 0 #FFFFFF;
            border-radius: 5px 5px 5px 5px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
            z-index: 10;
        }
        .bluetext
        {
            color:#428BCA;
            font-size:18px;
        }
        .del .add
        {
            margin-top:0px;
            width:35px;
            text-align:center
        }
        .page-numbers
        {
            background-color:#FFFFFF;
            padding:10px 15px;
            border:1px #D8D8D8 solid;
            box-shadow: 0 9px 2px rgba(0, 0, 0, 0.1);
        }
        #productDetail .tabtitle
        {
            background-color:#DFF0D8;
        }
        .tabtitle
        {
            width:20%;
        }
        .tabcontent
        {
            width:30%;
            font-size:14px;
        }
        .scrollspy-example {
            height: 300px;
            margin-top: 10px;
            overflow: auto;
            position: relative;
        }
        .branch
        {
            background-color: #F3F3F3;
            padding: 6px 10px;
        }
        .star a
        {
            color:#D6D6D6;
        }
        .textRight
        {
            text-align:right;
        }
.yuanjiaoprice
        {
            position:absolute;
            z-index:1;
            bottom:30%;
            right:17px
        }
        .yuanjiaoprice p
        {
            height:78px !important;
            padding:6px !important;
            border-radius:60px;
            background-color:#F12B63;
            text-align:center;
            color:#FFFFFF;
            width:78px !important
        }
        .marketPrice
        {
            font-size:14px !important;
            padding:5px 0 !important;
            line-height: 35px;
            opacity: 0.8;
            text-decoration: line-through;
        }
        .retailPrice
        {
            font-size:16px !important;
            padding:5px 0 !important;
            line-height: 16px;
        }
        #onerow .threespan
        {
            float:left;
            margin-left:20px;
            line-height:25px;
        }
        .caption h4
        {
            height:40px;
            overflow:hidden;
        }
        .caption h4 a
        {
            text-decoration:none;
        }
.bg-info
{
    background-color:#D9EDF7;
    border:1px solid #BCE8F1;
}